<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <br><br>
        <h1 class="display-5">SpiderWeb Films Review</h1>
        <hr>
        <table class="table table-borderless">
            <tr>
                <td>
                    <img src="/static/thematrix.jpeg" height="200" class="rounded">
                    <img src="/static/pk.jpeg" height="200" class="rounded">
                    <img src="/static/sholay.jpeg" height="200" class="rounded">

                </td>
                <td width="35%">
                    
                    <form action="/login/" method="post">
                        {% csrf_token %}
                        <table class="table table-borderless">
                            <tr>
                                <td>UserID</td>
                                <td><input type="text" name="userid" required class="form-control"></td>
                            </tr>
                            <tr>
                                <td>Password</td>
                                <td><input type="password" name="password" required class="form-control"></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <input type="submit" value="Submit" class="btn btn-primary">
                                </td>
                            </tr>

                        </table>

                    </form>




                </td>
            </tr>

        </table>
 

<a href="/newfilm/">Add New Film</a> | <a href="/filmreport/">Film Report</a>
                     | <a href="/langsearch/">Search on Language</a>
                     | <a href="/genresearch/">Search on Genre</a> | 
                     <a href="/ajaxgenresearch/">Ajax Search</a>


        <br><br>
        
        <form action="/searchgen/" method="post">
            {% csrf_token %}
            <table class="table table-borderless">
                <tr>
                    <td>Genre</td>
                    <td>
                        <select class="form-control" id="genre" name="genre" required>
                            <option value="Action">Action</option>
                            <option value="Comedy">Comedy</option>
                            <option value="Romance">Romance</option>
                            <option value="Horror">Horror</option>
                        </select>
                    </td>
                    <td>
                        <input type="submit" value="Search" class="btn btn-success">
                    </td>
                </tr>

            </table>
             
            
            
        </form>
        
        <hr>
        <center>
        Developed by {{developer}}
        <br>
        {{company}}&copy;2025
    </center>

    </div>
    
</body>
</html>