<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <br><br>
        <h1 class="display-5">Search Films on Genre</h1>
        <hr>
        <table class="table table-borderless">
            <tr>
                <td><a href="/searchongenrepara/action/"><img src="/static/act.jpeg" height="120"><br>Action</a></td>
                <td><a href="/searchongenrepara/romance/"><img src="/static/rom.jpeg" height="120"><br>Romance</a></td>
                <td><a href="/searchongenrepara/comedy/"><img src="/static/com.jpeg" height="120"><br>Comedy</a></td>
                <td><a href="/searchongenrepara/horror/"><img src="/static/hor.jpeg" height="120"><br>Horror</a></td>
            </tr>

        </table>
        

    </div>
</body>
</html>